.card {
    position: fixed;
    top: 52vh;
    display: flex;
    flex-direction: column;
    margin: 30px;
    min-height: 30rem;
    width: 50vw;
    box-sizing: border-box;
  }
  .commentForm {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 10vh;
    padding: 20px;
    background-color: rgba(172, 172, 172, 0.3);
    border: 2px solid #8f8f8f;
    border-radius: 2px;
    box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
  }

  textarea {
      width: 30vw;
      height: 8vh;
      overflow: scroll;
  }
  
  .name-field {
    margin-bottom: 40px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background: blue;
    border-radius: 5px;
  }
  
  .render-chat {
    position: absolute;
    top: 11vh;
    width: 50vw;
    height: 25vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(172, 172, 172, 0.3);
    border: 2px solid #8f8f8f;
    border-radius: 2px;
    box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
    overflow: scroll;
  }

  .messages {
    position: relative;
    width: 47vw;
    margin: 5px 0px;
    padding: 5px;
    background-color: rgba(172, 172, 172, 0.3);
    border: 2px solid #8f8f8f;
    border-radius: 2px;
    box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-start;
  }

  .chatTitle {
      width: 45vw;
      padding-bottom: 6px;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 10px;
      border-bottom: 2px solid rgb(27, 27, 27);
  }
  
  h3 {
    color: #00ffd5;
  }
  
  span {
    color: white;
  }
  .submit {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    align-content: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
  
  }
  .submit:hover {
      border-color: #3498db;
      width: 200px;
  }