.background {
  display: flex;
}
.ticketContain {
  position: fixed;
  top: 24.5vh;
  width: 50vw;
  height: 30vh;
  padding: 25px 0px;
  background-color: rgba(172, 172, 172, 0.3);
  border: 2px solid #8f8f8f;
  border-radius: 2px;
  z-index: 1;
  overflow: scroll;
  
}

.ticketData {
  width: 40vw;
  height: 2rem;
  font-family: sans-serif;
  font-size: 1rem;
  color: white;
  background-color: rgba(172, 172, 172, 0.3);
  border: 2px solid #8f8f8f;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: scroll;

}
.ticketDescription {
  width: 40vw;
  height: 7rem;
  font-family: sans-serif;
  font-size: 1rem;
  color: white;
  background-color: rgba(172, 172, 172, 0.3);
  border: 2px solid #8f8f8f;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  text-align: left;
  word-wrap: break-word;
  padding: 5px;
  overflow: scroll;
}

.closeTicket {
  position: absolute;
  top: 0px;
  left: 0.5vw;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 10px;
  width: 2rem;
  height: 2rem;
  outline: none;
  color: white;
  border-radius: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.delete {
  position: absolute;
  top: 0px;
  right: 1vw;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  background-color: red;
  padding: 5px 5px;
  width: 2rem;
  height: 2rem;
  outline: none;
  color: white;
  border-radius: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete:hover {
  cursor: pointer;
  background-color: rgb(105, 19, 19);
}

.closeTicket:hover {
  background-color: #2ecc71;
  cursor: pointer;
}


@media (max-width: 480px) {
  .background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 95vh;
    padding: 80px 40px 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
  }
  .ticketContain {
    top: 5vh;
    padding-top: 45px;
    width: 80vw;
    height: 43vh;
  }
  .ticketData {
    width: 75vw;
    height: 5vh;
    margin: 2px 0px;
  }
  .ticketDescription {
    width: 75vw;
    height: 10vh;
    margin: 2px 0px;
    padding: 5px;
    overflow-wrap: break-word;
    overflow-x: scroll;
  }
  .closeTicket {
    background-color: #2ecc71;
    top: -1.75vh;
    left: 2vh;
  }
  .delete {
    top: -1.75vh;
    right: 2vh;
  }
}